information-system/civil.servant/backend/src/main/resources/data/schemes/vakcina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.vakcinac-io.rs/vakcina" 
  xmlns="https://www.vakcinac-io.rs/vakcina"
  xmlns:os="https://www.vakcinac-io.rs/osnovna-sema" 
  elementFormDefault="qualified">
  <xsd:import namespace="https://www.vakcinac-io.rs/osnovna-sema" schemaLocation="osnovna_sema.xsd"/>

  <xsd:element name="vakcina">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="proizvodjac" type="os:Tproizvodjac"></xsd:element>
        <xsd:element name="serija" type="os:Tserija"></xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
