xsd/digitalni_sertifikat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://euprava.org" xmlns:eu="http://euprava.org" elementFormDefault="qualified">
    
    <xsd:simpleType name="Tjmbg">
        <xsd:restriction base="xsd:string">
            <xsd:length value="13"></xsd:length>
            <xsd:pattern value="\d{13}"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Tpasos">
        <xsd:restriction base="xsd:string">
            <xsd:length value="5"></xsd:length>
            <xsd:pattern value="\d{5}"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Tpol">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Musko"/>
            <xsd:enumeration value="Zensko"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Trezultat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Pozitivan"/>
            <xsd:enumeration value="Negativan"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Tdatum">
        <xsd:sequence>
            <xsd:element name="dan" type="xsd:int"></xsd:element>
            <xsd:element name="mesec" type="xsd:int"></xsd:element>
            <xsd:element name="godina" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="digitalni-sertifikat">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="validacija" type="xsd:anyURI"></xsd:element>

                <xsd:element name="nosilac-sertifikata">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ime" type="xsd:string"></xsd:element>
                            <xsd:element name="prezime" type="xsd:string"></xsd:element>
                            <xsd:element name="pol" type="eu:Tpol"></xsd:element>
                            <xsd:element name="jmbg" type="eu:Tjmbg"></xsd:element>
                            <xsd:element name="br-pasosa" type="eu:Tpasos"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="vakcinacije">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="vakcinacija" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="tip" type="xsd:string"></xsd:element>
                                        <xsd:element name="proizvodjac" type="xsd:string"></xsd:element>
                                        <xsd:element name="serija" type="xsd:string"></xsd:element>
                                        <xsd:element name="datum" type="eu:Tdatum"></xsd:element>
                                        <xsd:element name="zdravstvena-ustanova" type="xsd:string"></xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="doza" type="xsd:int"></xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="broj-doza" type="xsd:int"></xsd:attribute>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="testovi">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="test" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ime" nillable="true" type="xsd:string"></xsd:element>
                                        <xsd:element name="vrsta-uzorka" nillable="true" type="xsd:string"></xsd:element>
                                        <xsd:element name="proizvodjac" nillable="true" type="xsd:string"></xsd:element>
                                        <xsd:element name="datum-uzorka" nillable="true" type="eu:Tdatum"></xsd:element>
                                        <xsd:element name="datum-izdavanja" nillable="true" type="eu:Tdatum"></xsd:element>
                                        <xsd:element name="rezultat" nillable="true" type="xsd:string"></xsd:element>
                                        <xsd:element name="labaratorija" nillable="true" type="xsd:string"></xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="broj" type="xsd:int"></xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="broj-testova" type="xsd:int"></xsd:attribute>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>

            <xsd:attribute name="broj-sertifikata">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:pattern value="\d+"></xsd:pattern>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="datum-izdavanja">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d{2}\.\d{2}\.\d{4} \d{2}:\d{2}"></xsd:pattern>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>

        </xsd:complexType>
    </xsd:element>
</xsd:schema>