xsd/saglasnost_imunizacije.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.vakcinac-io.rs/saglasnost" 
    xmlns="https://www.vakcinac-io.rs/saglasnost"
    xmlns:os="https://www.vakcinac-io.rs/osnovna-sema" 
    elementFormDefault="qualified">
    <xsd:import namespace="https://www.vakcinac-io.rs/osnovna-sema" schemaLocation="osnovna_sema.xsd"/>

    <xsd:simpleType name="TradniStatus">
        <xsd:restriction base="xsd:int">
            <!-- запослен -->
            <xsd:enumeration value="0"/>
            <!-- незапослен -->
            <xsd:enumeration value="1"/>
            <!-- пензионер -->
            <xsd:enumeration value="2"/>
            <!-- ученик -->
            <xsd:enumeration value="3"/>
            <!-- студент -->
            <xsd:enumeration value="4"/>
            <!-- дете -->
            <xsd:enumeration value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Tzanimanje">
        <xsd:restriction base="xsd:int">
            <!-- здравствена заштита -->
            <xsd:enumeration value="0"/>
            <!-- социјална заштита -->
            <xsd:enumeration value="1"/>
            <!-- просвета -->
            <xsd:enumeration value="2"/>
            <!-- МУП -->
            <xsd:enumeration value="3"/>
            <!-- Војска РС -->
            <xsd:enumeration value="4"/>
            <!-- друго -->
            <xsd:enumeration value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Tekstremitet">
        <xsd:restriction base="xsd:int">
            <!-- ДР -->
            <xsd:enumeration value="0"/>
            <!-- ЛР -->
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TlicneInformacije">
        <xsd:complexContent>
            <xsd:extension base="os:Tosoba">
                <xsd:sequence>
                    <xsd:element name="ime-roditelja" type="xsd:string"></xsd:element>
                    <xsd:element name="pol" type="os:Tpol"></xsd:element>
                    <xsd:element name="radni-status" type="TradniStatus"></xsd:element>
                    <xsd:element name="zanimanje" type="Tzanimanje"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Tlekar">
        <xsd:complexContent>
            <xsd:extension base="os:Tosoba">
                <xsd:sequence>
                    <xsd:element name="faksimil" type="xsd:string"></xsd:element>
                    <xsd:element name="broj-telefona" type="os:TbrMob"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="saglasnost-za-sprovodjenje-preporucene-imunizacije">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="link" type="os:Tlink" minOccurs="0" maxOccurs="unbounded" fixed=""></xsd:element>
                <xsd:element name="meta" type="os:Tmeta" minOccurs="0" maxOccurs="unbounded"></xsd:element>

                <xsd:element name="pacijent">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="drzavljanstvo">
                                <xsd:complexType>
                                    <xsd:choice minOccurs="1" maxOccurs="1">
                                        <xsd:element name="domace">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="jmbg" type="os:Tjmbg"></xsd:element>   
                                                </xsd:sequence>
                                            </xsd:complexType>      
                                        </xsd:element>
                                        <xsd:element name="strano">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="naziv-drzavljanstva" type="xsd:string"></xsd:element>
                                                    <xsd:element name="broj-pasosa-ebs" type="os:Tpasos"></xsd:element>      
                                                </xsd:sequence>
                                            </xsd:complexType>      
                                        </xsd:element>
                                    </xsd:choice>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="licne-informacije" type="TlicneInformacije"></xsd:element>

                            <xsd:element name="rodjenje">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="datum-rodjenja" type="os:TdateString"></xsd:element>
                                        <xsd:element name="mesto-rodjenja" type="xsd:string"></xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="stanovanje">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="adresa" type="xsd:string"></xsd:element>
                                        <xsd:element name="mesto" type="xsd:string"></xsd:element>
                                        <xsd:element name="opstina" type="xsd:string"></xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="kontakt" type="os:Tkontakt"></xsd:element>

                            <xsd:element name="ustanova-socijalne-zastite">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="korisnik" type="xsd:boolean"></xsd:element>
                                        <xsd:element name="naziv-opstina-sedista" type="xsd:string"></xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="izjava-saglasnosti">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="izjava" type="xsd:boolean"></xsd:element>
                            <xsd:element name="naziv-imunoloskog-leka" type="xsd:string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="evidencija-o-vakcinaciji">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="zdravstvena-ustanova" type="xsd:string"></xsd:element>
                            <xsd:element name="vakcinacijski-punkt" type="xsd:string"></xsd:element>
                            <xsd:element name="lekar" type="Tlekar"></xsd:element>

                            <xsd:element name="obrazac">
                                <xsd:complexType>
                                    <xsd:sequence>

                                        <xsd:element name="primljene-vakcine" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="naziv" nillable="true" type="xsd:string"></xsd:element>
                                                    <xsd:element name="datum-davanja-vakcine" nillable="true" type="os:TdateString"></xsd:element>
                                                    <xsd:element name="nacin-davanja-vakcine" nillable="true" type="xsd:string"></xsd:element>
                                                    <xsd:element name="ekstremitet" nillable="true" type="Tekstremitet"></xsd:element>
                                                    <xsd:element name="serija-vakcine" nillable="true" type="os:Tserija"></xsd:element>
                                                    <xsd:element name="proizvodjac" nillable="true" type="xsd:string"></xsd:element>
                                                    <xsd:element name="nezeljena-reakcija" nillable="true" type="xsd:string"></xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="broj" type="xsd:positiveInteger" use="required"></xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>

                                        <xsd:element name="privremene-kontraindikacije">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="datum-utvrdjivanja" nillable="true" type="os:TdateString"></xsd:element>
                                                    <xsd:element name="dijagnoza" nillable="true" type="xsd:string"></xsd:element>
                                                    <xsd:element name="odluka-komisije" nillable="true" type="xsd:boolean"></xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>

                                    </xsd:sequence>
                                </xsd:complexType>

                                <xsd:unique name="jedinstveniBroj">
                                    <xsd:selector xpath=".//*" />
                                    <xsd:field xpath="@broj" />
                                </xsd:unique>
                                
                            </xsd:element>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>

            <xsd:attribute name="datum-izdavanja" type="os:TdateString" use="required"></xsd:attribute>

            <xsd:attributeGroup ref="os:rdfMainDocument"></xsd:attributeGroup>
            <xsd:anyAttribute />
            
        </xsd:complexType>
    </xsd:element>
</xsd:schema>